.fot{
  padding: 5px;
  color: white;
  text-align: center;}

footer {
  position: fixed;
  text-align: center;
  background-color: #111;
  left: 10px;
  bottom: 5px;
  right: 10px;
  width: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.bg {
  background-color: orange;
  background-position: center;
  height: 100px;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  padding: 3px;
  text-align: center;
  color: black;
}